.btn {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);

  padding: 0 25px;
  height: 52px;

  background: transparent;
  border: 2px solid var(--black);

  transition: 0.4s;
}

.btn.big {
  padding: 0 35px;
  height: 58px;
}

.btn.white {
  color: var(--white);
  border-color: var(--white);
}

.btn.default-white {
  color: var(--default-white);
  border-color: var(--default-white);
}

.btn:hover {
  background: var(--black);
  color: var(--white);
}

.btn.white:hover {
  background: var(--white);
  color: var(--black);
}

.btn.default-white:hover {
  background: var(--default-white);
  color: var(--default-black);
}

