.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form input[type="email"],
.form input[type="text"],
.form input[type="number"]{
    width: 100%; 
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;

    height: 56px;
    padding: 0 18px;

    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}

.form.white input[type="email"],
.form.white input[type="text"],
.form.white input[type="number"]{
    color: #FFFFFF;
    border-color: #FFFFFF;
    background: transparent;
}

.form.white input[type="email"]::placeholder,
.form.white input[type="text"]::placeholder,
.form.white input[type="number"]::placeholder{
    color: var(--white50);
}
.form textarea{
    min-width: 100%; 
    max-width: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;

    min-height: 125px;
    max-height: 180px;

    padding: 18px;

    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);   
}