header .menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

header .menu ul {
  display: flex;
  gap: 36px;
}

header .menu a {
  cursor: pointer;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

header .menu a:hover {
  text-decoration: underline;
}

header .flex-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 750px) {
  header .flex-grid {
    gap: 16px;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  header .menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .menu button {
    width: 100%;
  }
}

.basic-content .flex-grid {
  display: flex;
  gap: 80px;
}

@media (max-width: 700px) {
  .basic-content .flex-grid {
    flex-direction: column;
    gap: 36px;
  }
}

.dynamic-content .flex-grid{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.dynamic-content .flex-grid .left,
.dynamic-content .flex-grid .right{
  width: 100%;
}

@media (max-width: 700px){
  .dynamic-content .flex-grid{
    flex-direction: column;
  }

  .dynamic-content.reverse .flex-grid{
    flex-direction: column-reverse;
  }

  .dynamic-content .image-grid{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 425px){
  .dynamic-content .flex-grid .content-grid .btn{ 
    width: 100%;
  }  
}

